.text--brightRed {
    color: #dc1431
}

.text--regalRed {
    color: #c41230
}

.text--darkRed {
    color: #780032
}

.text--brightBlue {
    color: #0073cf
}

.text--royalBlue {
    color: #0052c2
}

.text--darkBlue {
    color: #012169
}

.text--nightBlue {
    color: #000a23
}

.text--nightBlueSpecial {
    color: #0d204a
}

.modal__body--exit .modal__links .cta--cancel, .text--bodyCopyColor {
    color: #000
}

.text-reverseColor {
    color: #fff
}

.background--defaultColor, .background--white {
    background-color: #fff
}

.background--brightRed {
    background-color: #dc1431
}

.background--regalRed {
    background-color: #c41230
}

.background--darkRed {
    background-color: #780032
}

.background--brightBlue {
    background-color: #0073cf
}

.background--royalBlue {
    background-color: #0052c2
}

.background--darkBlue {
    background-color: #012169
}

.background--nightBlue {
    background-color: #000a23
}

.background--nightBlueSpecial {
    background-color: #0d204a
}

.background-dayBlue {
    background-color: #d9f2fa
}

.background--coolGray, .modal__body--exit .modal__links .cta--cancel {
    background-color: #d3d3d3
}

.background--coolGrayLight {
    background-color: #f2f2f2
}

@font-face {
    font-family: connections;
    src: url(fonts/connections_regular-web.woff) format("woff"), url(fonts/connections_regular-web.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: connections;
    src: url(fonts/connections_italic-web.woff) format("woff"), url(fonts/connections_italic-web.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: connections;
    src: url(fonts/connections_bold-web.woff) format("woff"), url(fonts/connections_bold-web.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: connections;
    src: url(fonts/connections_bolditalic-web.woff) format("woff"), url(fonts/connections_bolditalic-web.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: connections;
    src: url(fonts/connections_light-web.woff) format("woff"), url(fonts/connections_light-web.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal
}

@font-face {
    font-family: connections;
    src: url(fonts/connections_lightitalic-web.woff) format("woff"), url(fonts/connections_lightitalic-web.ttf) format("truetype");
    font-weight: lighter;
    font-style: italic
}

@font-face {
    font-family: connectionscond;
    src: url(fonts/connectionscond_regular-web.woff) format("woff"), url(fonts/connectionscond_regular-web.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: connectionscond;
    src: url(fonts/connectionscond_bold-web.woff) format("woff"), url(fonts/connectionscond_bold-web.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: connectionscond;
    src: url(fonts/connectionscond_bolditalic-web.woff) format("woff"), url(fonts/connectionscond_bolditalic-web.ttf) format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: connectionscond;
    src: url(fonts/connectionscond_light-web.woff) format("woff"), url(fonts/connectionscond_light-web.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal
}

@font-face {
    font-family: connectionscond;
    src: url(fonts/connectionscond_lightitalic-web.woff) format("woff"), url(fonts/connectionscond_lightitalic-web.ttf) format("truetype");
    font-weight: lighter;
    font-style: italic
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

.modal__close, a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

.modal__close:active, .modal__close:hover, a:active, a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: inherit;
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details, menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden], template {
    display: none
}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: connections, Arial, sans-serif;
    font-variant-ligatures: none;
    color: #000
}

html {
    box-sizing: border-box
}

*, :after, :before {
    box-sizing: inherit
}

body {
    font-size: 16px;
    line-height: 1.4
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400
}

h1, h2 {
    font-size: 9.6vw;
    line-height: 1.2;
    font-weight: lighter;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}

@media (min-width: 643px) {
    h1, h2 {
        font-size: 4.5vw
    }
}

@media (min-width: 1154px) {
    h1, h2 {
        font-size: 2.875em
    }
}

h3 {
    font-size: 2em;
    line-height: 1
}

.modal__close, a {
    text-decoration: none;
    color: #0052c2
}

.modal__close:active, .modal__close:focus, .modal__close:hover, a:active, a:focus, a:hover {
    text-decoration: none;
    color: #012169
}

.modal__close:focus, a:focus {
    outline: 1px dotted
}

svg .modal__close, svg a {
    cursor: pointer
}

sup {
    font-size: 65%
}

sup .modal__close[href^="#footnote"], sup a[href^="#footnote"] {
    color: currentColor
}

.wrapper {
    padding-top: 16vw
}

@media (min-width: 643px) {
    .wrapper {
        padding-top: 120px
    }
}

.section {
    margin: 0;
    padding: 0 5%;
    color: inherit
}

.section__wrapper {
    max-width: 1154px;
    margin: 0 auto;
    padding: 3em 0
}

.section--border-top {
    border-top: 1px solid #d3d3d3
}

.section--border-bottom {
    border-bottom: 1px solid #d3d3d3
}

.nobr {
    white-space: nowrap
}

.ornament {
    text-transform: uppercase
}

.ornament:after, .ornament:before {
    content: "";
    display: inline-block;
    margin: 0 .75em .25em;
    width: 4em;
    border-bottom: 1px solid currentColor
}

.color-reverse {
    color: #fff
}

.color-reverse .modal__close, .color-reverse .modal__close:active, .color-reverse .modal__close:focus, .color-reverse .modal__close:hover, .color-reverse .modal__close:visited, .color-reverse a, .color-reverse a:active, .color-reverse a:focus, .color-reverse a:hover, .color-reverse a:visited {
    position: relative;
    color: currentColor;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink
}

.color-reverse .modal__close[href^="#footnote"], .color-reverse a[href^="#footnote"] {
    text-decoration: none
}

.ada-invisible {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.ada-skip {
    display: block;
    position: absolute;
    left: -625em;
    top: auto;
    width: 100%;
    height: 1em
}

.ada-skip:active, .ada-skip:focus {
    position: static;
    width: auto;
    height: auto;
    padding: 1em;
    margin: auto
}

.break {
    display: block;
    margin-bottom: 1%
}

.modal__close:focus, a:focus, span:focus {
    outline-offset: 2px;
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color
}

@media (min-width: 643px) {
    .mobile-only {
        display: none
    }
}

.medium-plus-only {
    display: none
}

@media (min-width: 643px) {
    .medium-plus-only {
        display: block
    }
}

.cta {
    display: inline-block;
    height: 2.25em;
    min-width: 230px;
    padding: 0 1em;
    font-size: 1.5em;
    line-height: 2.2em;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #dc1431
}

@media (min-width: 1067px) {
    .cta {
        height: 2.5em;
        min-width: 260px;
        line-height: 2.55em
    }
}

.cta:visited {
    color: #fff
}

.cta:focus, .cta:hover {
    color: #fff;
    background-color: #c41230
}

.cta--blue {
    color: #fff;
    background-color: #0073cf
}

.cta--blue:visited {
    color: #fff
}

.cta--blue:focus, .cta--blue:hover {
    color: #fff;
    background-color: #0052c2
}

.cta--white {
    background-color: #fff
}

.cta--white, .cta--white:visited {
    color: #0052c2
}

.cta--white:focus, .cta--white:hover {
    color: #012169;
    background-color: #fff
}

.color-reverse .cta, .color-reverse .cta:active, .color-reverse .cta:focus, .color-reverse .cta:hover, .color-reverse .cta:visited {
    text-decoration: none
}

.cta--full {
    width: 100%
}

@media (min-width: 643px) {
    .cta--full {
        width: auto
    }
}

@media (min-width: 643px) {
    .cta--mobileOnly {
        display: none
    }
}

.slick-slider {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list, .slick-slider {
    position: relative;
    display: block
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.slick-track:after, .slick-track:before {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir=rtl] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.tiles-common {
    text-align: center;
    background-color: #fff
}

.tiles-common--bg-gray {
    background-color: #f2f2f2
}

.tiles-common__wrapper {
    padding: 4.5em 0
}

.tiles-common__heading {
    margin-bottom: 1.25em
}

@media (min-width: 643px) {
    .tiles-common__heading {
        font-size: 5vw
    }
}

@media (min-width: 980px) {
    .tiles-common__heading {
        font-size: 2.875em
    }
}

.tiles-common--TC1 .tiles-common__tiles {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.tiles-common--TC2 .tiles-common__tiles {
    max-width: 850px;
    margin: 0 auto
}

.tiles-common-tile {
    margin-bottom: 4em
}

@media (min-width: 643px) {
    .tiles-common-tile {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }
}

.tiles-common-tile:last-child {
    margin-bottom: 0
}

@media (min-width: 643px) {
    .tiles-common--TC1 .tiles-common-tile {
        max-width: 398px;
        padding: 0 1%
    }
}

@media (min-width: 643px) {
    .tiles-common--TC1.tiles-common--col-3 .tiles-common-tile {
        max-width: 344px;
        padding: 0 2%
    }
}

.tiles-common--TC2 .tiles-common-tile {
    max-width: 850px
}

@media (min-width: 643px) {
    .tiles-common--TC2 .tiles-common-tile {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.tiles-common-tile p {
    margin: 0;
    font-size: 1.125em
}

@media (min-width: 643px) {
    .tiles-common-tile p {
        font-size: 1.25em
    }
}

.tiles-common-tile p p + p {
    margin-top: 1em
}

@media (min-width: 643px) {
    .tiles-common--TC2 .tiles-common-tile__content {
        margin-left: 12%
    }
}

@media (min-width: 643px) {
    .tiles-common-tile--no-img .tiles-common-tile__content {
        margin-left: 0
    }
}

.tiles-common-tile__heading {
    margin-bottom: 1em;
    font-size: 1.5em
}

@media (min-width: 643px) {
    .tiles-common--TC2 .tiles-common-tile__heading {
        margin-top: 0
    }
}

@media (min-width: 980px) {
    .tiles-common-tile__heading {
        margin-bottom: 1.125em;
        font-size: 2.25em
    }
}

.tiles-common-tile__image-container {
    margin-bottom: 1.5em
}

@media (min-width: 643px) {
    .tiles-common--TC2 .tiles-common-tile__image-container {
        margin-bottom: 0
    }
}

.masthead {
    background-color: #e6e6e6;
    background-size: cover;
    background-position: bottom;
    text-align: center
}

.masthead:focus {
    outline: none
}

@media (max-width: 643px) {
    .masthead--gradient, .masthead--gradient-reverse, .masthead--gradient-top {
        position: relative
    }
}

@media (min-width: 643px) {
    .masthead--gradient-reverse .masthead__section:not(.masthead__section--product), .masthead--gradient-top .masthead__section:not(.masthead__section--product), .masthead--gradient .masthead__section:not(.masthead__section--product) {
        background-image: radial-gradient(ellipse at center, hsla(0, 0%, 100%, .3) 40%, hsla(0, 0%, 100%, 0) 70%)
    }
}

.masthead--gradient-reverse .masthead__wrapper:before, .masthead--gradient-top .masthead__wrapper:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.masthead--textshadow {
    text-shadow: 0 0 2px hsla(0, 0%, 100%, .9), 0 0 25px hsla(0, 0%, 100%, .9), 0 0 50px hsla(0, 0%, 100%, .9), 0 0 100px hsla(0, 0%, 100%, .9)
}

.masthead--bg-gray {
    background: transparent url(../images/flagscape_gray.png) no-repeat;
    background-size: 350%;
    background-position: left 42% top 6%
}

@media (min-width: 643px) {
    .masthead--bg-gray {
        background-size: 260%;
        background-position: left 42% top 30%
    }
}

@media (min-width: 1067px) {
    .masthead--bg-gray {
        background-size: 200%;
        background-position: left 42% top 28%
    }
}

.masthead--M1 {
    padding: 0 3%
}

@media (min-width: 643px) {
    .masthead--M1 {
        background-position: 50%;
        padding: 0 5%
    }
}

@media (min-width: 643px) {
    .masthead--M2 {
        background-position: 50%
    }
}

@media (min-width: 643px) {
    .masthead--M2, .masthead--M3 {
        text-align: left
    }
}

.masthead--M4 {
    text-align: center;
    background-position: 0 0
}

@media (min-width: 643px) {
    .masthead--M4 {
        background-position: 50% 100%
    }
}

@media (min-width: 980px) {
    .masthead--M4 {
        background-position: 75% 100%
    }
}

.masthead__section {
    position: relative;
    max-width: 100%
}

.masthead--M1 .masthead__section {
    padding: 6.4vw 0 46vw
}

@media (min-width: 643px) {
    .masthead--M1 .masthead__section {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        height: 42vw;
        min-height: 380px;
        max-height: 489px;
        padding: 5vw 0
    }
}

@media (min-width: 1067px) {
    .masthead--M1 .masthead__section {
        padding: 4em 0
    }
}

@media (min-width: 643px) {
    .masthead--M2 .masthead__section {
        width: 55%
    }
}

@media (max-width: 643px) {
    .masthead--M2 .masthead__section--nooffer {
        padding-bottom: 70vw
    }
}

@media (min-width: 643px) {
    .masthead--M3 .masthead__section--content {
        width: 45%
    }
}

.masthead__wrapper {
    position: relative
}

@media (max-width: 643px) {
    .masthead--gradient-reverse .masthead__wrapper:before, .masthead--gradient-top .masthead__wrapper:before, .masthead--gradient .masthead__wrapper:before {
        content: "";
        width: 100vw;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5vw;
        background-image: linear-gradient(0deg, hsla(0, 0%, 100%, .4) 30%, hsla(0, 0%, 100%, 0) 70%)
    }
}

@media (min-width: 643px) {
    .masthead--M1 .masthead__wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0
    }
}

.masthead--M2 .masthead__wrapper, .masthead--M4 .masthead__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width: 643px) {
    .masthead--M2 .masthead__wrapper, .masthead--M4 .masthead__wrapper {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        min-height: 42vw;
        padding: 7vw 0
    }
}

@media (min-width: 1067px) {
    .masthead--M2 .masthead__wrapper, .masthead--M4 .masthead__wrapper {
        height: 42vw;
        min-height: inherit;
        max-height: 489px;
        padding: 70px 0 80px
    }
}

.masthead--M3 .masthead__wrapper {
    padding: 2em 0 4em
}

@media (min-width: 643px) {
    .masthead--M3 .masthead__wrapper {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        min-height: 42vw;
        padding: 7vw 0
    }
}

@media (min-width: 1067px) {
    .masthead--M3 .masthead__wrapper {
        min-height: inherit;
        padding: 100px 0 80px
    }
}

@media (max-width: 643px) {
    .masthead--M4 .masthead__wrapper {
        padding-top: 50vw;
        padding-bottom: 0
    }
}

@media (min-width: 643px) {
    .masthead--M4 .masthead__wrapper {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.masthead__heading {
    margin-bottom: .5em
}

.masthead--M1 .masthead__heading {
    max-width: 100%;
    margin-top: 1.25em;
    margin-bottom: .75em
}

@media (min-width: 643px) {
    .masthead--M1 .masthead__heading {
        margin: 0;
        width: auto;
        font-size: 4.5vw
    }
}

@media (min-width: 1154px) {
    .masthead--M1 .masthead__heading {
        width: 87%;
        font-size: 2.875em
    }
}

.masthead--M4 .masthead__heading {
    text-transform: uppercase;
    letter-spacing: .25em;
    font-family: connectionscond, sans-serif;
    font-weight: 400;
    font-size: 7.5vw
}

@media (max-width: 320px) {
    .masthead--M4 .masthead__heading {
        font-size: 24px
    }
}

@media (min-width: 480px) {
    .masthead--M4 .masthead__heading {
        font-size: 36px
    }
}

@media (min-width: 643px) {
    .masthead .masthead__heading--long {
        font-size: 3.75vw
    }
}

@media (min-width: 643px) and (max-width: 693.333333333px) {
    .masthead .masthead__heading--long {
        font-size: 26px
    }
}

@media (min-width: 643px) and (min-width: 906.666666667px) {
    .masthead .masthead__heading--long {
        font-size: 34px
    }
}

@media (min-width: 1154px) {
    .masthead .masthead__heading--long {
        width: auto;
        font-size: 2.5em
    }
}

.masthead__copy {
    margin: .75em 0 1.5em
}

@media (min-width: 643px) {
    .masthead__copy {
        margin: 0 0 2em
    }
}

.masthead--M4 .masthead__copy p {
    font-size: 5vw
}

@media (max-width: 360px) {
    .masthead--M4 .masthead__copy p {
        font-size: 18px
    }
}

@media (min-width: 480px) {
    .masthead--M4 .masthead__copy p {
        font-size: 24px
    }
}

.masthead .masthead__subcopy {
    font-size: .875em;
    margin-top: 1em
}

@media (min-width: 643px) {
    .masthead .masthead__subcopy {
        max-width: 500px;
        font-size: 1em;
        margin-top: 3em
    }
}

.masthead__offer {
    line-height: 0;
    background-color: #dc1431;
    z-index: 1
}

.masthead--M1 .masthead__offer {
    width: 69vw;
    height: 48vw;
    max-width: 260px;
    max-height: 180px;
    margin: 0 auto;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat
}

@media (min-width: 643px) {
    .masthead--M1 .masthead__offer {
        position: relative;
        width: 24vw;
        height: 16.6vw;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
        -webkit-flex: 1 0 24%;
        -ms-flex: 1 0 24%;
        flex: 1 0 24%
    }

    .masthead--M1 .masthead__offer ~ .masthead__section {
        margin-left: -24%
    }
}

.masthead--M2 .masthead__offer {
    margin-top: 45vw;
    margin-bottom: -3em;
    margin-left: 3%;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    left: 3%;
    bottom: 0;
    width: 50vw;
    height: 35vw;
    max-width: 260px;
    max-height: 180px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat
}

@media (min-width: 643px) {
    .masthead--M2 .masthead__offer {
        left: auto;
        right: 0;
        width: 24vw;
        height: 16.6vw;
        margin-top: 0;
        margin-bottom: -7vw;
        margin-left: 0;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end
    }
}

@media (min-width: 1067px) {
    .masthead--M2 .masthead__offer {
        margin-bottom: -80px
    }
}

.masthead--M3 .masthead__offer {
    width: 69vw;
    max-width: 442px;
    max-height: 90px;
    margin: 0 auto
}

@media (min-width: 643px) {
    .masthead--M3 .masthead__offer {
        top: 0;
        right: 0;
        width: 36vw;
        height: 7vw;
        margin-top: -7vw
    }
}

@media (min-width: 1067px) {
    .masthead--M3 .masthead__offer {
        margin-top: -100px
    }
}

.masthead--offer-solid .masthead__offer {
    background-image: none
}

.masthead--offer-fancy .masthead__offer {
    background-image: url(../images/flagscape_brightred_simplified.png)
}

.masthead__offer svg {
    width: 100%;
    height: 100%
}

@media (min-width: 643px) {
    .masthead__offer-ada-copy {
        display: none
    }
}

.masthead__product {
    width: 64vw;
    max-width: 426px;
    padding: 2em 0
}

@media (min-width: 643px) {
    .masthead__product {
        width: 36vw
    }
}

.masthead.color-reverse {
    color: #fff;
    background-color: #1a1919
}

.masthead.color-reverse.masthead--textshadow {
    text-shadow: 0 0 2px rgba(0, 0, 0, .9), 0 0 25px rgba(0, 0, 0, .9), 0 0 50px rgba(0, 0, 0, .9), 0 0 100px rgba(0, 0, 0, .9)
}

.masthead.color-reverse.masthead--gradient-reverse .masthead__wrapper:before, .masthead.color-reverse.masthead--gradient-top .masthead__wrapper:before, .masthead.color-reverse.masthead--gradient .masthead__wrapper:before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .4) 30%, transparent 70%)
}

@media (min-width: 643px) {
    .masthead.color-reverse.masthead--gradient-reverse .masthead__section:not(.masthead__section--product), .masthead.color-reverse.masthead--gradient-top .masthead__section:not(.masthead__section--product), .masthead.color-reverse.masthead--gradient .masthead__section:not(.masthead__section--product) {
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, .3) 40%, transparent 70%)
    }
}

.masthead .cta {
    text-shadow: none
}

.masthead p {
    font-size: 1.375em
}

.product-details {
    text-align: center
}

@media (min-width: 900px) {
    .product-details__options {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
}

@media (min-width: 1067px) {
    .product-details__options {
        padding: 0 5%
    }
}

.product-details--P3 .product-details__options {
    padding: 0;
    width: 111%;
    margin: 0 0 0 -5.5%
}

@media (min-width: 643px) {
    .product-details--P3 .product-details__options {
        width: 100%;
        margin: inherit
    }
}

.product-details--P3 .product-details__options .slick-track {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.product-details--P3 .product-details__options .slick-track .slick-slide {
    height: auto
}

.product-details--P3 .product-details__heading, .product-details--P3 .product-details__subheading {
    text-align: left;
    margin: 0
}

@media (min-width: 643px) {
    .product-details--P3 .product-details__heading, .product-details--P3 .product-details__subheading {
        text-align: center
    }
}

.product-details__subheading {
    width: 80%;
    margin: 1.25em auto;
    font-size: 1em
}

@media (min-width: 900px) {
    .product-details__subheading {
        font-size: 1.25em
    }
}

.product-details--P3 .product-details__subheading {
    margin: 1.25em 0
}

@media (min-width: 643px) {
    .product-details--P3 .product-details__subheading {
        margin: 1.25em auto
    }
}

.product-descriptions {
    text-align: left
}

@media (min-width: 643px) {
    .product-descriptions {
        display: none
    }
}

.product-descriptions__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px 0
}

.product-descriptions__icon-container {
    fill: #dc1431
}

.product-descriptions__icon-container svg {
    position: relative;
    left: -10px;
    width: 60px
}

.product-descriptions__title {
    font-size: 1.325em;
    font-weight: 700;
    color: #dc1431
}

.product-descriptions__description {
    max-width: 300px;
    font-size: 1.25em
}

.product-descriptions__link {
    margin-top: 10px;
    display: block
}

.product-tabs {
    list-style: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 111%;
    margin: 2em 0 3.25em -5.5%;
    padding: 0;
    background-color: #fff;
    border-bottom: 2px solid #dc1431
}

@media (min-width: 900px) {
    .product-tabs {
        display: none
    }
}

.product-details--P3 .product-tabs {
    border-bottom: 2px solid #d3d3d3;
    border-top: 2px solid #d3d3d3;
    margin: 2em 0 .25em -5.5%;
    padding: 0 20px
}

.product-tabs__tab {
    position: relative;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0
}

.product-details--P3 .product-tabs__tab {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.product-tabs__tab:after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 21px);
    top: 100%;
    width: 0;
    height: 0;
    border-top: 0 solid #dc1431;
    border-right: 19px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 19px solid transparent;
    transition: all .5s ease-in-out
}

.product-details--P3 .product-tabs__tab:after {
    border: none
}

.product-tabs__tab.is-active:after {
    border-bottom: 0 solid transparent;
    border-top: 14px solid #dc1431
}

.product-details--P3 .product-tabs__tab.is-active:after {
    border: none
}

.product-tabs__link {
    display: block;
    height: 100%;
    padding: .675em 5%;
    font-size: 1.375em;
    line-height: 1.1;
    color: #000
}

@media (min-width: 643px) {
    .product-tabs__link {
        padding: .675em 20%
    }
}

.product-details--P3 .product-tabs__link {
    text-align: left;
    font-size: 1em;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0px;
    flex: 1 0 0
}

.product-details--P3 .product-tabs__link span {
    font-size: 1.25em;
    display: block
}

.product-tabs__link:active, .product-tabs__link:focus, .product-tabs__link:hover, .product-tabs__link:visited {
    color: #000
}

.product-details--P3 .product-tabs__link:after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 21px);
    top: 85%;
    width: 0;
    height: 0;
    border-top: 1px solid #dc1431;
    transition: all .2s linear
}

.is-active .product-tabs__link {
    color: #fff;
    background-color: #dc1431;
    transition: all .5s ease-in-out
}

.product-details--P3 .is-active .product-tabs__link {
    color: #000;
    background-color: #fff
}

.product-details--P3 .is-active .product-tabs__link:after {
    color: #000;
    background-color: #fff;
    border-bottom: 8px solid #dc1431;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 1
}

.product-option {
    max-width: 500px;
    margin: 0 auto
}

@media (min-width: 900px) {
    .product-details--P2 .product-option {
        width: 45%;
        margin: 0
    }
}

.product-details--P2 .product-option:nth-of-type(n+2) {
    display: none
}

@media (min-width: 900px) {
    .product-details--P2 .product-option:nth-of-type(n+2) {
        display: block
    }
}

.product-details--P3 .product-option {
    max-width: inherit;
    background-color: #f2f2f2;
    padding: 0 1em;
    margin: 20px .5%;
    width: 100%
}

@media (min-width: 643px) {
    .product-details--P3 .product-option {
        margin: 1%
    }
}

@media (min-width: 900px) {
    .product-details--P3 .product-option {
        max-width: 500px
    }
}

.product-details--P3 .product-option__icon-container {
    margin: 30px auto 20px;
    width: 65px;
    height: 45px
}

.product-details--P3 .product-option__icon-container path {
    fill: #dc1431
}

.product-option.is-active {
    display: block
}

.product-option p {
    font-size: 1.25em;
    line-height: 1.2
}

@media (min-width: 900px) {
    .product-option p {
        font-size: 1.25em
    }
}

.product-option p + p {
    margin-top: 1em
}

.product-option__heading {
    font-size: 1.4375em;
    margin: 1em auto
}

@media (min-width: 900px) {
    .product-option__heading {
        font-size: 2.25em;
        line-height: 1.1
    }
}

.product-details--P2 .product-option__heading {
    display: none
}

@media (min-width: 900px) {
    .product-details--P2 .product-option__heading {
        display: block
    }
}

.product-details--P3 .product-option__heading {
    color: #dc1431;
    font-weight: 700;
    font-size: 1.375em;
    margin: .5em auto
}

.product-option__heading sup {
    font-size: 60%
}

.product-option__subheading {
    margin: 1.5em 0;
    color: #dc1431;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased
}

.product-details--P3 .product-option__subheading {
    display: none;
    color: #000;
    font-weight: lighter;
    margin: 1em 0
}

@media (min-width: 643px) {
    .product-details--P3 .product-option__subheading {
        display: block
    }
}

.product-option__cta {
    margin: 3em 0
}

.product-details--P3 .product-option__cta {
    margin: 1em 0
}

.product-option__copy {
    margin: 3em auto
}

@media (min-width: 900px) {
    .product-option__copy {
        margin-bottom: 3em
    }
}

.product-option__copy p {
    margin: 0
}

.product-details--P3 .product-option__copy {
    text-align: left;
    margin-bottom: 0
}

.product-option__subcopy {
    width: 90%;
    margin: 2em auto;
    padding: 3em 0;
    border-top: 1px solid #000
}

.product-option__subcopy p {
    margin: 0
}

@media (min-width: 900px) {
    .product-option__subcopy p {
        font-size: 1.25em
    }
}

.product-option__subcopy p + p {
    margin: .5em 0 0
}

.product-details--P3 .product-option__subcopy {
    width: 100%;
    text-align: left;
    border-top: 2px solid #d3d3d3;
    padding: 1em 0
}

.product-option .desktop-show {
    display: none
}

@media (min-width: 643px) {
    .product-option .desktop-show {
        display: inline-block
    }
}

.preferred-rewards {
    background: #f2f2f2
}

.preferred-rewards__display {
    text-align: center
}

.preferred-rewards__tiles {
    margin: 2.5em auto
}

@media (min-width: 643px) {
    .preferred-rewards__tiles {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.preferred-rewards__tile {
    margin: 0 auto
}

@media (min-width: 643px) {
    .preferred-rewards__tile {
        margin: 0 1%
    }
}

.preferred-rewards__tile--image {
    width: 44%;
    max-width: 134px
}

@media (min-width: 643px) {
    .preferred-rewards__tile--image {
        width: 134px;
        margin-right: calc(1% - 5px)
    }
}

@media (min-width: 643px) {
    .preferred-rewards__image {
        width: 134px;
        height: 134px
    }
}

.preferred-rewards__sym {
    padding: .125em 0;
    font-family: Arial, sans-serif;
    font-size: 5.5em;
    line-height: 1ex;
    color: #595959
}

@media (min-width: 643px) {
    .preferred-rewards__sym {
        font-size: 4em
    }
}

.preferred-rewards__content {
    width: 100%;
    max-width: 870px;
    margin: 0 auto 3em
}

.preferred-rewards__content p {
    margin: 0 0 1em
}

.preferred-rewards__copy {
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-size: 1em
}

@media (min-width: 643px) {
    .preferred-rewards__copy {
        margin-top: 2em;
        font-size: 1.25em
    }
}

.disclosures {
    font-size: .75em;
    background-color: #f2f2f2
}

.disclosures__wrapper {
    padding: 4em 0
}

.disclosures__lbc {
    width: 40vw;
    min-width: 280px;
    max-width: 455px;
    margin: 0 auto 2em
}

.disclosures__boalogo {
    width: 175px;
    height: 22px
}

.disclosures__boalogo img {
    max-width: 100%;
    height: 100%
}

.disclosures__heading {
    margin-bottom: .25em
}

.disclosures__note {
    position: relative;
    vertical-align: baseline;
    top: -.4em;
    left: -.8em;
    margin-right: -1em;
    font-size: 70%;
    line-height: 0;
    color: currentColor
}

.disclosures__note:focus, .disclosures__note:hover {
    color: currentColor
}

.disclosures__ehl {
    white-space: nowrap
}

.disclosures p {
    margin-bottom: 1.25em
}

.secondary-cta {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.secondary-cta--blue-bg {
    background-image: url(../images/flagscape_brightblue_simplified.png)
}

.secondary-cta--red-bg {
    background-image: url(../images/flagscape_brightred_simplified.png)
}

.secondary-cta--gray-bg {
    background-image: url(../images/flagscape_gray_simplified.png)
}

.secondary-cta--white-bg {
    background-color: #fff
}

.secondary-cta__heading, .secondary-cta__subheading {
    margin-bottom: 1em;
    text-align: center
}

@media (min-width: 643px) {
    .secondary-cta__heading, .secondary-cta__subheading {
        margin-bottom: .625em
    }
}

.secondary-cta--blue-bg .secondary-cta__heading, .secondary-cta--blue-bg .secondary-cta__subheading, .secondary-cta--red-bg .secondary-cta__heading, .secondary-cta--red-bg .secondary-cta__subheading {
    color: #fff
}

.secondary-cta--gray-bg .secondary-cta__heading, .secondary-cta--gray-bg .secondary-cta__subheading {
    color: #000
}

.secondary-cta__subheading {
    font-size: 6vw;
    margin-bottom: 1em
}

@media (max-width: 333.333333333px) {
    .secondary-cta__subheading {
        font-size: 20px
    }
}

@media (min-width: 400px) {
    .secondary-cta__subheading {
        font-size: 24px
    }
}

@media (min-width: 643px) {
    .secondary-cta__link-container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.secondary-cta__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .75em;
    margin: 1.25em 0;
    font-size: 1.25em;
    border: 1px solid #fff
}

@media (min-width: 643px) {
    .secondary-cta__link {
        display: inline-block;
        padding: .625em 1.75em;
        margin: 0;
        margin-right: 3%;
        border-width: 2px
    }
}

.secondary-cta__link--white {
    padding: 0
}

@media (min-width: 643px) {
    .secondary-cta__link--white {
        margin-right: 1.25em;
        text-decoration: underline;
        border: 0
    }
}

.secondary-cta--blue-bg .secondary-cta__link {
    color: #fff;
    text-align: center
}

.secondary-cta--blue-bg .secondary-cta__link:active, .secondary-cta--blue-bg .secondary-cta__link:focus, .secondary-cta--blue-bg .secondary-cta__link:hover {
    background-color: rgba(0, 82, 194, .3)
}

.secondary-cta--red-bg .secondary-cta__link {
    color: #fff
}

.secondary-cta--red-bg .secondary-cta__link:active, .secondary-cta--red-bg .secondary-cta__link:focus, .secondary-cta--red-bg .secondary-cta__link:hover {
    background-color: rgba(196, 18, 48, .3)
}

.secondary-cta--gray-bg .secondary-cta__link, .secondary-cta--white-bg .secondary-cta__link {
    color: #0073cf;
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink
}

.secondary-cta--gray-bg .secondary-cta__link:active, .secondary-cta--gray-bg .secondary-cta__link:focus, .secondary-cta--gray-bg .secondary-cta__link:hover, .secondary-cta--white-bg .secondary-cta__link:active, .secondary-cta--white-bg .secondary-cta__link:focus, .secondary-cta--white-bg .secondary-cta__link:hover {
    color: #0052c2
}

.secondary-cta__link:last-child {
    margin-right: 0
}

.modal {
    display: none;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    z-index: 3
}

.modal, .modal__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%
}

.modal__overlay {
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6)
}

.modal__align--center {
    text-align: center
}

.modal__align--left {
    text-align: left
}

.modal__align--right {
    text-align: right
}

.modal__nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.modal__close {
    position: relative;
    top: 2px;
    right: 2px;
    padding: 0 .25em;
    border: 0;
    background: none;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer
}

.modal__title {
    font-size: larger
}

.modal__subtitle, .modal__title {
    margin-bottom: .25em;
    font-weight: 700
}

.modal__content {
    position: relative;
    max-width: 96vw;
    max-height: 86vh;
    margin: 7vh 2vw;
    overflow: auto;
    border: 2px solid #f2f2f2;
    background-color: #fff
}

.modal__links {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.modal__links.align--center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.modal__links .cta {
    min-width: 0;
    margin-bottom: .25em
}

.modal .modal__body {
    display: none;
    max-width: 1154px;
    padding: 0 1.5em 1.5em
}

.modal .modal__body p {
    margin: 0 0 .5em
}

.modal__body.fancy .modal__title {
    font-size: 2em;
    font-weight: 400
}

.modal__body.fancy .modal__subtitle {
    margin-bottom: 2em;
    font-size: larger;
    font-weight: 400
}

.modal__body--exit .modal__title {
    margin-bottom: .5em;
    font-size: 1em;
    color: #888b8d
}

.modal__body--exit .modal__subtitle {
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #cbcac7;
    font-weight: 400;
    font-size: 1.25em
}

.modal__body--exit .modal__links {
    margin-top: 1.5em;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.modal__body--exit .modal__links .cta {
    margin-right: 1.5em;
    font-size: 1em;
    line-height: normal;
    height: auto;
    padding-top: .5em;
    padding-bottom: .5em
}

.disclosure-modal__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .6)
}

.disclosure-modal__modal {
    position: relative;
    left: 0;
    top: 10%;
    margin: 20px auto 0;
    width: 30%;
    min-width: 300px;
    max-width: 350px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px
}

.disclosure-modal__modal h3 {
    padding: 0 0 2px;
    margin: 0 0 13px;
    color: #333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px
}

.disclosure-modal__modal p {
    margin-bottom: 13px;
    font-size: 12px;
    line-height: 18px
}

.disclosure-modal__modal .modal__close, .disclosure-modal__modal a {
    color: #0052c2;
    text-decoration: none
}

.disclosure-modal__modal .close__modal {
    font-size: 11px;
    line-height: 1;
    border: 0;
    background: none;
    color: #0052c2
}

.disclosure-modal__modal .close__modal:after {
    content: "\00d7";
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-left: 3px;
    padding: 2px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1ex;
    color: #666;
    border: 1px solid #ddd
}

.disclosure-modal__modal .modal__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 21px;
    padding: 0 7px;
    background: transparent linear-gradient(#fefefe, #e8eaed);
    border-bottom: 1px solid #ddd;
    border-radius: 6px 6px 0 0
}

.disclosure-modal__modal .modal__body {
    padding: 1.2em 1.5em
}

.ap-no-overflow {
    overflow: hidden
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 3%;
    background-color: #fff;
    border-bottom: 2px solid #f2f2f2;
    z-index: 2
}

.navigation--fixed {
    position: fixed
}

.navigation__wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 16vw;
    max-width: 1154px;
    margin: 0 auto
}

@media (min-width: 643px) {
    .navigation__wrapper {
        height: 120px
    }
}

.navigation__logo {
    width: 47vw;
    height: 5.87vw;
    max-width: 376px;
    max-height: 47px
}

.navigation__cta {
    min-width: inherit;
    font-size: 1em
}

@media (min-width: 643px) {
    .navigation__cta {
        font-size: 1.375em;
        width: auto;
        padding: 0 2.5em
    }
}

.accordion {
    margin-top: 1%
}

.accordion .section__wrapper {
    padding: 0
}

.accordion__header {
    font-size: 1.585em;
    padding-bottom: 1em
}

@media (min-width: 643px) {
    .accordion__header {
        font-size: 2.125em
    }
}

.accordion__item {
    position: relative;
    background: #f2f2f2;
    padding: 5%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media (min-width: 643px) {
    .accordion__item {
        padding: 3%;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
}

.accordion__item .modal__close, .accordion__item a, .accordion__item span {
    width: 15%;
    height: 2em;
    fill: #dc1431
}

@media (min-width: 643px) {
    .accordion__item .modal__close, .accordion__item a, .accordion__item span {
        width: 52px;
        margin-right: 3%
    }
}

@media (min-width: 643px) {
    .accordion__item .modal__close, .accordion__item a {
        margin-right: 0
    }
}

.accordion__item--header {
    z-index: 2
}

@media (max-width: 643px) {
    .accordion__item--header {
        width: 75%;
        padding-right: 10px
    }
}

.accordion__item--header h2 {
    color: #dc1431;
    font-size: 1.25em;
    font-weight: 700
}

@media (min-width: 643px) {
    .accordion__item--header h2 {
        display: inline
    }
}

.accordion__item--header h2 .accordion__item--header-footnote {
    color: #000;
    font-weight: 400
}

.accordion__item--header p {
    margin: 0
}

@media (min-width: 770px) {
    .accordion__item--header p {
        display: inline;
        font-size: 1.125em
    }
}

.accordion__item .accordion__item--chevron {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: 1
}

.accordion__item .accordion__item--chevron-down, .accordion__item .accordion__item--chevron-up {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 2%
}

.accordion__item .accordion__item--chevron-up {
    display: none;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.accordion__item--content {
    display: none;
    background: #f2f2f2;
    padding-bottom: 1%
}

.accordion__item--content ul {
    margin-top: 0;
    padding: 0 8%
}

@media (min-width: 375px) {
    .accordion__item--content ul {
        margin-left: 28px
    }
}

@media (min-width: 643px) {
    .accordion__item--content ul {
        margin-left: 0
    }
}

.accordion .accordion__item--content.section:focus, .accordion .accordion__item:focus {
    outline-offset: 2px;
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color
}

.accordion .footnote__double-asterisk {
    color: #000
}

@media (min-width: 643px) {
    .masthead__heading {
        margin-bottom: .2em
    }
}

@media (min-width: 900px) {
    .masthead__heading {
        margin-bottom: .5em
    }
}

@media (min-width: 643px) {
    .masthead__copy p {
        font-size: 3vw !important;
        line-height: 1.2;
        margin: 0
    }
}

@media (min-width: 900px) {
    .masthead__copy p {
        font-size: 1.7em !important;
        line-height: 1.4
    }
}

@media (min-width: 643px) {
    .masthead__section {
        margin-top: -9% !important
    }
}

.preferred-rewards {
    margin-top: 50px
}

.preferred-rewards__content {
    max-width: 900px
}

.product-details .product-option {
    width: 100%
}

@media (min-width: 643px) {
    .product-details .product-option__heading {
        max-height: 72px
    }
}

@media (min-width: 1067px) {
    .product-details .product-option__heading {
        min-height: auto
    }
}

@media (min-width: 900px) {
    .product-details .product-option__subheading {
        min-height: 100px
    }
}

@media (min-width: 1067px) {
    .product-details .product-option__subheading {
        min-height: auto
    }
}

@media (min-width: 900px) {
    .product-details .product-option__copy {
        min-height: 210px
    }
}

@media (min-width: 1067px) {
    .product-details .product-option__copy {
        min-height: 180px
    }
}

.product-details .product-option__icon-container {
    height: 50px
}

.product-details .product-option__no-space {
    margin-left: -6px
}

@media (min-width: 643px) {
    .index .masthead p {
        font-size: 1.7em
    }
}

@media (min-width: 643px) {
    .index .masthead--M2 .masthead__wrapper {
        padding: 0
    }
}

@media (min-width: 643px) {
    .index .masthead--M2 .masthead__section {
        width: 100%;
        text-align: center;
        margin-top: 5%
    }
}

.index .masthead--M2 .masthead__section .masthead__copy, .index .masthead--M2 .masthead__section .masthead__heading {
    color: #fff
}

.index .debit-card {
    margin-top: -9%
}

.index .debit-card .masthead__offer, .index .debit-card .masthead__offer svg {
    display: none
}

@media (min-width: 643px) {
    .index .debit-card .masthead__offer {
        display: block;
        background: url(../images/img_M2-product-debitcard.png);
        height: 11em;
        background-size: cover;
        background-position: 50%;
        max-width: 280px;
        width: 40vw;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 5
    }
}

.index .tiles-common__wrapper {
    padding: 3em 0
}

@media (min-width: 900px) {
    .index #product-details h2 {
        margin-bottom: 1em
    }

    .index .product-details--P2 #product-option--1 {
        border-right: 1px solid #d3d3d3;
        padding: 0 8% 0 3%
    }

    .index .product-details--P2 #product-option--2 {
        padding: 0 7% 0 3%
    }
}

.index .footnote__asterisk {
    color: #000
}

