.modal-dialog {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20% !important;
}

.modal-header, .modal-body {
    text-align: center !important;
}

.modal-body > p {
    font-size: 22px;
}

.modal-header > p {
    font-size: 24px;
}