<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/personal-account.css}"/>
    <meta charset="UTF-8">

    <title>Create bank account</title>
</head>
<body>
<div class="container">
    <h3>Feel the form to create new bank account</h3>
    <form method="post" class="form-horizontal" id="create-account-form" action="/create">
        <div class="form-group"><input name="email" placeholder="Email address" required></div>
        <div class="form-group"><input name="firstName" placeholder="First name" required></div>
        <div class="form-group"><input name="lastName" placeholder="Last name" required></div>
        <div class="form-group"><input name="middleName" placeholder="Middle name"></div>
        <div class="form-group"><input name="firstAddress" placeholder="Address line 1" required></div>
        <div class="form-group"><input name="lastAddress" placeholder="Address line 2"></div>
        <div class="form-group"><input name="city" placeholder="City" required></div>
        <div class="form-group"><input name="state" placeholder="State " required></div>
        <div class="form-group"><input name="zipCode" placeholder="ZIP code" required></div>
        <div class="form-group"><input name="phoneNumber" placeholder="Phone number" required></div>
        <div class="form-group"><label>
            <select name="phoneType">
                <option value="HOME">Home</option>
                <option value="WORK">Work</option>
                <option value="MOBILE">Mobile</option>
            </select>
        </label></div>
        <div class="form-group"><input name="password" type="password" placeholder="Password" required></div>
        <div class="form-group"><input name="rePassword" type="password" placeholder="Re-enter password" required></div>
        <div class="form-group"><input name="dateOfBirth" type="text" pattern="^(([01])\d)/(([012])\d)/((19|20)\d{2})"
                                       placeholder="Birthday day in format mm/dd/YYYY" required></div>
        <button class="btn btn-info">Create account</button>
    </form>
</div>
</body>
</html>