<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/account.css}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Bank of America</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">

    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">

    <script type="text/javascript" th:src="@{/js/mbox.js}"></script>
</head>

<body>
<div class="mboxDefault"></div>
<script type="text/javascript">
    mboxCreate("bac_dep_check_promo");
</script>

<header id="navigation" class="navigation header not-modal">
    <div class="navigation__wrapper">
        <a id="Navigation_Logo" class="navigation__brand" href="https://www.bankofamerica.com" target="_blank"><img
                class="navigation__logo" th:src="@{images/BAC_Logo_Horizontal_RGB.svg}" alt="Bank of America"/></a>
    </div>
</header>
<div id="main" class="wrapper not-modal">
    <div class="index" data-action="index">
        <style>
            @media screen and (max-width: 642px) {
                .masthead--M2 {
                    background-image: url(../images/bg_M2-default-sm.png);
                }
            }

            @media screen and (min-width: 643px) {
                .masthead--M2 {
                    background-image: url(../images/bg_M2-default.jpg);
                }
            }
        </style>

        <section id="masthead" class="section masthead masthead--M2" data-action="masthead">
            <div class="section__wrapper masthead__wrapper">
                <div class="masthead__section masthead__section--nooffer">
                    <h1 class="masthead__heading">Expect more from your checking account</h1>
                    <div class="masthead__copy">
                        <p>Open a Bank of America Advantage Banking account and enjoy tools, <br>benefits and rewards to
                            help you manage your money.</p>
                    </div>
                    <a id="Masthead_M1_CTA" class="cta cta--blue" href="#product-details"><span
                            aria-label="Get Started CTA button, scrolls down to Product Details">Get started</span></a>

                </div>

                <div class="masthead__offer">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/2000/xlink" width="260"
                         height="180" viewBox="0 0 260 180">
                        <title>$150 Bonus Offer</title>
                        <rect x="27.7" y="118.7" width="237.4" height="49.7" fill="none"/>
                        <g style="isolation: isolate">
                            <path d="M37.5,125.6a4,4,0,0,1,2.6,4.1,4.2,4.2,0,0,1-4.4,4.3H29.5V117.7H35c3.1,0,4.7,1.7,4.7,4.1a4.2,4.2,0,0,1-2.1,3.6v.2ZM31,125h3.9c2.1,0,3.4-1.2,3.4-3s-1-3.1-3.5-3.1H31Zm0,1.2V133h4.3a3.2,3.2,0,0,0,3.5-3.4,3.3,3.3,0,0,0-3.5-3.4Z"
                                  fill="#fff"/>
                            <path d="M54.8,134.2c-4.9,0-6.8-3.1-6.8-8.2s1.7-8.5,6.8-8.5,6.5,4.1,6.5,8.5S59.1,134.2,54.8,134.2Zm0-15.6c-4.3,0-5.3,3.7-5.3,7.5s1.5,7,5.2,7,5.1-3.2,5.1-7.1S59.1,118.6,54.8,118.6Z"
                                  fill="#fff"/>
                            <path d="M80.1,131.7V117.8h1.4v16.3H80.1l-7.1-11L71.1,120H71v14H69.6V117.7H71l7.1,10.9,2,3.1Z"
                                  fill="#fff"/>
                            <path d="M102.2,128.2c0,3.6-2,6-6,6s-6-2.2-6-6V117.7h1.4v10.5c0,3.2,1.6,4.9,4.6,4.9s4.6-1.6,4.6-4.9V117.7h1.4Z"
                                  fill="#fff"/>
                            <path d="M119.9,118.3l-.5,1.1a10.8,10.8,0,0,0-3.9-.8c-2.1,0-3.6,1.1-3.6,3.3s2,2.5,4,3.1,5.1,1.3,5.1,4.7-2.5,4.6-5.8,4.6a10.1,10.1,0,0,1-5.1-1.2l.5-1a9.9,9.9,0,0,0,4.6,1.1c2.8,0,4.4-.9,4.4-3.4s-1.6-2.8-3.8-3.4-5.3-1.5-5.3-4.3,2.2-4.5,5.2-4.5A8.3,8.3,0,0,1,119.9,118.3Z"
                                  fill="#fff"/>
                            <path d="M146.5,134.2c-4.9,0-6.8-3.1-6.8-8.2s1.7-8.5,6.8-8.5,6.5,4.1,6.5,8.5S150.8,134.2,146.5,134.2Zm0-15.6c-4.3,0-5.3,3.7-5.3,7.5s1.5,7,5.2,7,5.1-3.2,5.1-7.1S150.8,118.6,146.5,118.6Z"
                                  fill="#fff"/>
                            <path d="M161.4,134V117.7h9.3v1.1h-7.9v6.1h6.7V126h-6.7v8Z" fill="#fff"/>
                            <path d="M178.4,134V117.7h9.3v1.1h-7.9v6.1h6.7V126h-6.7v8Z" fill="#fff"/>
                            <path d="M195.4,134V117.7h9.4v1.1h-8v6h6.8v1.1h-6.8v7h8.4V134Z" fill="#fff"/>
                            <path d="M219.6,126.8l3.6,7.3h-1.6l-3.5-7.1h-3.7v7.1H213V117.8h5.1c3.3,0,4.9,2,4.9,4.5A4.5,4.5,0,0,1,219.6,126.8Zm-1.6-1c2.1,0,3.5-1,3.5-3.5a3.3,3.3,0,0,0-3.6-3.5h-3.5v7Z"
                                  fill="#fff"/>
                        </g>
                        <line x1="239" y1="108.7" x2="23.1" y2="108.7" fill="none" stroke="#fff"
                              stroke-miterlimit="10"/>
                        <line x1="239" y1="143" x2="23.1" y2="143" fill="none" stroke="#fff" stroke-miterlimit="10"/>
                        <rect x="50.4" y="36.2" width="191.3" height="60.2" fill="none"/>
                        <g style="isolation: isolate">
                            <path d="M68,87.5A27.5,27.5,0,0,1,54.7,84l1.7-4.2a28.4,28.4,0,0,0,13,3.1c6.7,0,10.8-2.3,10.8-8.7s-4.1-7.2-9.6-8.7c-7.8-2.2-15.1-4.2-15.1-12.9s5-12.4,12.7-13.2V32.8h4.1v6.5A25.3,25.3,0,0,1,83,42l-1.7,4.2A25.8,25.8,0,0,0,70.5,44c-5.3,0-9.3,2.8-9.3,8.4s5.3,6.6,10.4,7.9c6.6,1.9,14.4,4,14.4,13.9,0,8.4-5.8,12.6-13.8,13.3V94H68Z"
                                  fill="#fff"/>
                        </g>
                        <g style="isolation: isolate">
                            <path d="M106.4,43.9l-10.7,1v-4l11.1-2.7h5.5V87.5h-5.8V43.9Z" fill="#fff"/>
                        </g>
                        <g style="isolation: isolate">
                            <path d="M126.2,63.5l-3.5-1.9c.1-3.3,1.3-20.2,1.4-23.4h25.7v4.7H129l-.9,15.7a19.6,19.6,0,0,1,8.1-1.6c8,0,16,4.5,16,15s-8.1,16.1-17.5,16.1c-5.1,0-10.5-.8-14.9-3l1.4-4.2a38.7,38.7,0,0,0,12,2.2c7.9,0,13-3.5,13-11.2s-5.3-10.4-11.7-10.4A22.4,22.4,0,0,0,126.2,63.5Z"
                                  fill="#fff"/>
                        </g>
                        <g style="isolation: isolate">
                            <path d="M176.1,87.9c-15,0-18-12.3-18-24.7s3.1-25.8,18.1-25.8,17.4,15,17.4,25.6S189.4,87.9,176.1,87.9Zm0-45.6c-10.9,0-12.1,12.5-12.1,21.1,0,10.9,2,19.8,12.1,19.8s11.5-10.4,11.5-19.9C187.6,55.4,186.9,42.3,176.1,42.3Z"
                                  fill="#fff"/>
                        </g>
                        <g style="isolation: isolate">
                            <a xlink:href="#footnote1" aria-label="footnote 1">
                                <path d="M203.1,32.6l-3.6.3V31.6l3.8-.9h1.9V47.5h-2V32.6Z" fill="#fff"/>
                                <rect x="198" y="30" width="12" height="18" fill="transparent" stroke-width="0"></rect>
                            </a>
                        </g>
                    </svg>
                </div>


            </div>
        </section>
        <div class="debit-card"></div>
        <section id="product-details" class="section product-details product-details--P3" data-action="productDetails">
            <div class="section__wrapper">
                <h2 class="product-details__heading">One account. Three settings. <br class="medium-plus-only"/>Choose
                    the account setting that works for you.</h2>


                <div class="product-descriptions">
                    <div class="product-descriptions__item">
                        <div class="product-descriptions__icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70" aria-hidden="true"
                                 focusable="false">
                                <title>lock</title>
                                <g>
                                    <path d="M52.39,40.4l-.03-.02a2.22,2.22,0,0,0-2.22-2.22,2.27,2.27,0,0,0-2.28,2.22,2.16,2.16,0,0,0,1.26,2L48,46.67h4.21L51.08,42.4A2.11,2.11,0,0,0,52.39,40.4Z"/>
                                    <path d="M50,7A29.03,29.03,0,1,0,79.03,36.03,29.03,29.03,0,0,0,50,7ZM60.36,49a1.47,1.47,0,0,1-1.46,1.48H41.46A1.51,1.51,0,0,1,40,49.06V36a1.47,1.47,0,0,1,1.46-1.48H53.53V29.48a3.36,3.36,0,0,0-6.72,0v1.2a1.88,1.88,0,0,1-3.75,0v-1.2a7.06,7.06,0,1,1,14.11-.531q.01.266,0,.531v5.07h1.65A1.52,1.52,0,0,1,60.36,36Z"/>
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="product-descriptions__title">Bank of America <br>Advantage SafeBalance
                                Banking<span class="product-option__no-space"> &trade;</span></div>
                            <div class="product-descriptions__description">A good choice if you want to avoid overdraft
                                fees and don’t <br class="medium-plus-only"/> write checks.
                            </div>
                            <a id="" class="product-descriptions__link desc-link-js" href="#" data-index="0"
                               aria-controls="product-option--1" aria-label="See Details for Advantage SafeBalance">
                                See details
                            </a>
                        </div>
                    </div>
                    <div class="product-descriptions__item">
                        <div class="product-descriptions__icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70" aria-hidden="true"
                                 focusable="false">
                                <title>icon_circleplus</title>
                                <g>
                                    <path d="M50.66,4.76a30.71,30.71,0,1,0,30.7,30.7,30.71,30.71,0,0,0-30.7-30.7M66.55,38.87H54.06V51.35H47.25V38.87H34.76V32.06H47.25V19.57h6.81V32.06H66.55Z"/>
                                </g>
                            </svg>

                        </div>
                        <div>
                            <div class="product-descriptions__title">Bank of America Advantage Plus Banking<span
                                    class="product-option__no-space"> &trade;</span></div>
                            <div class="product-descriptions__description">A good choice if you use direct deposit and
                                want a straightforward banking account.
                            </div>
                            <a id="" class="product-descriptions__link desc-link-js" href="#" data-index="1"
                               aria-controls="product-option--2" aria-label="See Details for Advantage Plus">
                                See details
                            </a>
                        </div>
                    </div>
                    <div class="product-descriptions__item">
                        <div class="product-descriptions__icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70" aria-hidden="true"
                                 focusable="false">
                                <title>icon_percent</title>
                                <path d="M37.3,20.4c-3.6,0-4.1,3.9-4.1,7s.7,6.8,4.1,6.8,3.8-3.3,3.8-6.8-.4-7-3.8-7"/>
                                <path d="M62.9,34.6c-3.6,0-4.1,3.9-4.1,7s.7,6.8,4.1,6.8,3.8-3.3,3.8-6.9-.4-7-3.8-7"/>
                                <path d="M50,5A30,30,0,1,0,80,35,30,30,0,0,0,50,5M27.6,27.4c0-5.5,2-11.1,9.7-11.1s9.4,5.8,9.4,11.1-2.4,11-9.5,11S27.6,33.1,27.6,27.4ZM43.8,53.2H39.2L56,14.3h4.6Zm19.1-.7c-7.6,0-9.6-5.1-9.6-11s2-11.1,9.7-11.1,9.4,5.8,9.4,11.1S70,52.5,62.9,52.5Z"/>
                            </svg>

                        </div>
                        <div>
                            <div class="product-descriptions__title">Bank of America Advantage Relationship Banking<span
                                    class="product-option__no-space"> &trade;</span></div>
                            <div class="product-descriptions__description">A good choice if you keep higher balances and
                                want multiple accounts and complimentary services.
                            </div>
                            <a id="" class="product-descriptions__link desc-link-js" href="#" data-index="2"
                               aria-controls="product-option--3" aria-label="See Details for Advantage Relationship">
                                See details
                            </a>
                        </div>
                    </div>
                </div>

                <ul class="product-tabs js-tabs">
                    <li class="product-tabs__tab product-tabs__tab--1 js-tab is-active" role="presentation" data-tab="1"
                        aria-labelledby="product-tabs__tab--1">
                        <a id="ProductDetails_P3_Tab1" class="product-tabs__link js-tabContent" href="#" data-index="0"
                           role="tab" aria-controls="product-option--1">
                            Advantage <span>SafeBalance</span>
                        </a>
                    </li>
                    <li class="product-tabs__tab product-tabs__tab--2 js-tab " role="presentation" data-tab="2"
                        aria-labelledby="product-tabs__tab--2">
                        <a id="ProductDetails_P3_Tab2" class="product-tabs__link js-tabContent" href="#" data-index="1"
                           role="tab" aria-controls="product-option--2">
                            Advantage <span>Plus</span>
                        </a>
                    </li>
                    <li class="product-tabs__tab product-tabs__tab--3 js-tab " role="presentation" data-tab="3"
                        aria-labelledby="product-tabs__tab--3">
                        <a id="ProductDetails_P3_Tab3" class="product-tabs__link js-tabContent" href="#" data-index="2"
                           role="tab" aria-controls="product-option--3">
                            Advantage <span>Relationship</span>
                        </a>
                    </li>
                </ul>

                <div class="slick product-details__options">
                    <div id="product-option--1" class="product-option js-panel" aria-labelledby="product-tabs__tab--1">
                        <div class="product-option__icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70" aria-hidden="true"
                                 focusable="false">
                                <title>lock</title>
                                <g>
                                    <path d="M52.39,40.4l-.03-.02a2.22,2.22,0,0,0-2.22-2.22,2.27,2.27,0,0,0-2.28,2.22,2.16,2.16,0,0,0,1.26,2L48,46.67h4.21L51.08,42.4A2.11,2.11,0,0,0,52.39,40.4Z"/>
                                    <path d="M50,7A29.03,29.03,0,1,0,79.03,36.03,29.03,29.03,0,0,0,50,7ZM60.36,49a1.47,1.47,0,0,1-1.46,1.48H41.46A1.51,1.51,0,0,1,40,49.06V36a1.47,1.47,0,0,1,1.46-1.48H53.53V29.48a3.36,3.36,0,0,0-6.72,0v1.2a1.88,1.88,0,0,1-3.75,0v-1.2a7.06,7.06,0,1,1,14.11-.531q.01.266,0,.531v5.07h1.65A1.52,1.52,0,0,1,60.36,36Z"/>
                                </g>
                            </svg>

                        </div>
                        <h3 class="product-option__heading"><span class="desktop-show">Bank of America</span> Advantage
                            SafeBalance <span class="desktop-show">Banking&trade;</span></h3>
                        <p class="product-option__subheading">A good choice if you want to avoid overdraft fees and
                            don’t <br class="medium-plus-only"/> write checks.</p>
                        <div class="product-option__cta"><a id="ProductDetails_P3_Opt1_CTA" class="cta cta--blue"
                                                            href="/create-account"
                                                            aria-label="Open now Bank of America Advantage SafeBalance Banking button"
                                                            target="_blank" rel="noopener">Open now</a></div>
                        <div class="product-option__copy">
                            <p>$25 opening deposit</p>
                            <p>No overdraft fees</p>
                            <p>No paper checks</p>
                        </div>
                        <div class="product-option__subcopy">
                            <p><strong>$4.95 monthly maintenance fee</strong></p>
                            <p>This fee is waived for eligible students or with enrollment in Preferred Rewards.</p>
                            <p><a id="ProductDetails_P3_Opt1_LearnMore" href="#" data-modal-target="safebalance"
                                  aria-label="Learn more about Bank of America Advantage SafeBalance Banking">Learn
                                more</a></p>
                        </div>
                    </div>
                    <div id="product-option--2" class="product-option js-panel" aria-labelledby="product-tabs__tab--2">
                        <div class="product-option__icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70" aria-hidden="true"
                                 focusable="false">
                                <title>icon_circleplus</title>
                                <g>
                                    <path d="M50.66,4.76a30.71,30.71,0,1,0,30.7,30.7,30.71,30.71,0,0,0-30.7-30.7M66.55,38.87H54.06V51.35H47.25V38.87H34.76V32.06H47.25V19.57h6.81V32.06H66.55Z"/>
                                </g>
                            </svg>

                        </div>
                        <h3 class="product-option__heading"><span class="desktop-show">Bank of America</span> Advantage
                            Plus <span class="desktop-show">Banking&trade;</span></h3>
                        <p class="product-option__subheading">A good choice if you use direct deposit and want a
                            straightforward banking&nbsp;account.</p>
                        <div class="product-option__cta"><a id="ProductDetails_P3_Opt2_CTA" class="cta cta--blue"
                                                            href="/create-account"
                                                            aria-label="Open now Bank of America Advantage Plus Banking button"
                                                            target="_blank" rel="noopener">Open now</a></div>
                        <div class="product-option__copy">
                            <p>$100 opening deposit</p>
                            <p>Multiple ways to waive the monthly fee</p>
                            <p>Option to add <a href="#" data-modal-target="overdraftprotection"
                                                id="ProductDetails_P3_Opt2_OverdraftProtection"
                                                aria-label="Overdraft Protection for Bank of America Advantage Plus Banking">Overdraft
                                Protection</a><sup><a href="#footnote1" aria-label="Footnote 1">1</a></sup></p>
                        </div>
                        <div class="product-option__subcopy">
                            <p><strong>$12 monthly maintenance fee</strong></p>
                            <p>This fee is waived with minimum direct deposit or daily balance requirements, for
                                eligible students or with enrollment in Preferred Rewards.</p>
                            <p><a id="ProductDetails_P3_Opt2_LearnMore" href="#" data-modal-target="plus"
                                  aria-label="Learn more about Bank of America Advantage Plus Banking">Learn more</a>
                            </p>
                        </div>
                    </div>
                    <div id="product-option--3" class="product-option js-panel" aria-labelledby="product-tabs__tab--3">
                        <div class="product-option__icon-container">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 70" aria-hidden="true"
                                 focusable="false">
                                <title>icon_percent</title>
                                <path d="M37.3,20.4c-3.6,0-4.1,3.9-4.1,7s.7,6.8,4.1,6.8,3.8-3.3,3.8-6.8-.4-7-3.8-7"/>
                                <path d="M62.9,34.6c-3.6,0-4.1,3.9-4.1,7s.7,6.8,4.1,6.8,3.8-3.3,3.8-6.9-.4-7-3.8-7"/>
                                <path d="M50,5A30,30,0,1,0,80,35,30,30,0,0,0,50,5M27.6,27.4c0-5.5,2-11.1,9.7-11.1s9.4,5.8,9.4,11.1-2.4,11-9.5,11S27.6,33.1,27.6,27.4ZM43.8,53.2H39.2L56,14.3h4.6Zm19.1-.7c-7.6,0-9.6-5.1-9.6-11s2-11.1,9.7-11.1,9.4,5.8,9.4,11.1S70,52.5,62.9,52.5Z"/>
                            </svg>

                        </div>
                        <h3 class="product-option__heading"><span class="desktop-show">Bank of America</span> Advantage
                            Relationship <span class="desktop-show">Banking&trade;</span></h3>
                        <p class="product-option__subheading">A good choice if you keep higher balances and want
                            multiple accounts and complimentary services.</p>
                        <div class="product-option__cta"><a id="ProductDetails_P3_Opt3_CTA" class="cta cta--blue"
                                                            href="/create-account"
                                                            aria-label="Open now Bank of America Advantage Relationship Banking button"
                                                            target="_blank" rel="noopener">Open now</a></div>
                        <div class="product-option__copy">
                            <p>$100 opening deposit</p>
                            <p>No fees on select services and additional accounts<sup><a href="#footnote2"
                                                                                         aria-label="Footnote 2">2</a></sup>
                            </p>
                            <p>Earn interest (<a id="ProductDetails_P3_Opt3_SeeRates"
                                                 href="https://www.bankofamerica.com/deposits/bank-account-interest-rates/"
                                                 target="_blank">See rates</a>)</p>
                            <p>Option to add <a href="#" data-modal-target="overdraftprotection"
                                                id="ProductDetails_P3_Opt3_OverdraftProtection"
                                                aria-label="Overdraft Protection for Bank of America Advantage Relationship Banking">Overdraft
                                Protection</a><sup><a href="#footnote1" aria-label="Footnote 1">1</a></sup></p>
                        </div>
                        <div class="product-option__subcopy">
                            <p><strong>$25 monthly maintenance fee</strong></p>
                            <p>This fee is waived with combined balances in eligible linked accounts or with enrollment
                                in Preferred Rewards.</p>
                            <p><a id="ProductDetails_P3_Opt3_LearnMore" href="#" data-modal-target="relationship"
                                  aria-label="Learn more about Bank of America Advantage Relationship Banking">Learn
                                more</a></p>
                        </div>
                    </div>
                </div>
                <div class="product-details__options">


                </div>
            </div>
        </section>
        <section id="accordion" class="accordion" data-action="accordion">

            <div class="section__wrapper" role="heading" aria-hidden="false" tabindex="0">
                <h2 class="accordion__header section" aria-hidden="false">
                    Bank of America Advantage Banking comes with great features, including:
                </h2>
            </div>

            <div role="tablist" class="section__wrapper">
                <div aria-controls="panel1" id="tab1" role="tab" class="accordion__item" tabindex="0"
                     aria-selected="false" aria-expanded="false">
                    <span aria-hidden="true"><img class="svg" th:src="@{/images/icon_lock.svg}" alt=""></span>
                    <div class="accordion__item--header">
                        <h2>Debit card security</h2>
                        <p>to help protect against fraudulent activity</p>
                    </div>

                    <a id="Features_DebitCardSecurity" class="accordion__item--chevron" href="javascript:void(0);"
                       onClick="return false;" aria-label="Debit card security" data-bactmln="">
                        <img class="accordion__item--chevron-down" aria-label="Expand" th:src="@{/images/chevron.svg}"
                             alt="">
                        <img class="accordion__item--chevron-up" aria-label="Collapse" th:src="@{/images/chevron.svg}"
                             alt="">
                    </a>

                </div>
                <div aria-live="polite" aria-labelledby="tab1" id="panel1" aria-hidden="true" role="tabpanel"
                     class="accordion__item--content section" tabindex="0">
                    <ul>
                        <li>$0 Liability Guarantee<sup><a href="#footnote3" aria-label="Footnote 3">3</a></sup>, where
                            fraudulent charges are credited back to your account as soon as the next business day
                        </li>
                        <br>
                        <li>Ability to temporarily lock<sup><a href="#footnote4" aria-label="Footnote 4">4</a></sup>
                            your misplaced debit card to help prevent unauthorized transactions
                        </li>
                        <br>
                        <li>Photo security, with your image on the front of your eligible Bank of America personal debit
                            card to help prevent fraud if your card is lost or stolen
                        </li>
                        <br>
                    </ul>
                </div>
                <span class="break"></span>
                <div aria-controls="panel2" id="tab2" role="tab" class="accordion__item" tabindex="0"
                     aria-selected="false" aria-expanded="false">
                    <span aria-hidden="true"><img class="svg" th:src="@{/images/icon_app.svg}" alt=""></span>
                    <div class="accordion__item--header">
                        <h2>Our Mobile Banking app<sup><a class="accordion__item--header-footnote" href="#footnote5"
                                                          aria-label="Footnote 5">5</a></sup></h2>
                        <p>that makes it easy to manage your money your way</p>
                    </div>

                    <a id="Features_MobileBankingApp" class="accordion__item--chevron" href="javascript:void(0);"
                       onClick="return false;" aria-label="Our Mobile Banking app" data-bactmln="">
                        <img class="accordion__item--chevron-down" aria-label="Our Mobile Banking App Expand"
                             th:src="@{/images/chevron.svg}"></a>


                    <img class="accordion__item--chevron-up" aria-label="Our Mobile Banking App Collapse"
                         th:src="@{/images/chevron.svg}">
                    </a>

                </div>
                <div aria-live="polite" aria-labelledby="tab2" id="panel2" aria-hidden="true" role="tabpanel"
                     class="accordion__item--content section" tabindex="0">
                    <ul>
                        <li>Erica<sup class="reg">&reg;</sup>, our virtual financial assistant, is available 24/7 to
                            help you with your banking needs - just talk, type or tap to get started.<sup><a
                                    href="#footnote6" aria-label="Footnote 6">6</a></sup></li>
                        <br>
                        <li>Quickly send money to friends, family and people you know with Zelle<sup
                                class="reg">&reg;</sup><sup><a href="#footnote7" aria-label="Footnote 7">7</a></sup>
                        </li>
                        <br>
                        <li>Use mobile check deposit<sup><a href="#footnote8" aria-label="Footnote 8">8</a></sup> to
                            deposit checks on the go
                        </li>
                        <br>
                        <li>Check balances, pay bills, transfer funds<sup><a href="#footnote9"
                                                                             aria-label="Footnote 9">9</a></sup> and
                            more, all from your smartphone or tablet
                        </li>
                        <br>
                    </ul>
                </div>
                <span class="break"></span>
                <div aria-controls="panel3" id="tab3" role="tab" class="accordion__item" tabindex="0"
                     aria-selected="false" aria-expanded="false">
                    <span aria-hidden="true"><img class="svg"
                                                  th:src="@{/images/icon_card.svg}"
                                                  alt=""></span>
                    <div class="accordion__item--header">
                        <h2>Convenient access</h2>
                        <p>to your account anytime, almost anywhere</p>
                    </div>

                    <a id="Features_ConvenientAccess" class="accordion__item--chevron" href="javascript:void(0);"
                       onClick="return false;" aria-label="Convenient access" data-bactmln="">
                        <img class="accordion__item--chevron-down" aria-label="Convenient Access Expand"
                             th:src="@{/images/chevron.svg}">


                        <img class="accordion__item--chevron-up" aria-label="Convenient Access Collapse"
                             th:src="@{/images/chevron.svg}">
                    </a>

                </div>
                <div aria-live="polite" aria-labelledby="tab3" id="panel3" aria-hidden="true" role="tabpanel"
                     class="accordion__item--content section" tabindex="0">
                    <ul>
                        <li>Access to thousands of ATMs and financial centers</li>
                        <br>
                        <li>Set up alerts<sup><a href="#footnote10" aria-label="Footnote 10">10</a></sup> to notify you
                            about important account activity
                        </li>
                        <br>
                        <li>Use Bill Pay to pay your bills in minutes from a single site</li>
                        <br>
                    </ul>
                </div>
                <span class="break"></span>
                <div aria-controls="panel4" id="tab4" role="tab" class="accordion__item" tabindex="0"
                     aria-selected="false" aria-expanded="false">
                    <span aria-hidden="true"><img class="svg" th:src="@{/images/icon_tag.svg}"
                                                  alt=""></span>
                    <div class="accordion__item--header">
                        <h2>Cash back</h2>
                        <p>with BankAmeriDeals<sup class="reg">&reg;</sup><sup><a href="#footnote11"
                                                                                  aria-label="Footnote 11">11</a></sup>
                        </p>
                    </div>

                    <a id="Features_CashBack" class="accordion__item--chevron" href="javascript:void(0);"
                       onClick="return false;" aria-label="Cash back" data-label-id="panel4" data-bactmln="">
                        <img class="accordion__item--chevron-down" aria-label="Cash Back Expand"
                             th:src="@{/images/chevron.svg}"/>


                        <img class="accordion__item--chevron-up" aria-label="Cash Back Collapse"
                             th:src="@{/images/chevron.svg}">
                    </a>

                </div>
                <div aria-live="polite" aria-labelledby="tab4" id="panel4" aria-hidden="true" role="tabpanel"
                     class="accordion__item--content section" tabindex="0">
                    <ul>
                        <li>Earn up to 15% cash back at locations you choose when you use your eligible Bank of America
                            debit card
                        </li>
                        <br>
                        <li>After your purchase, cash back is automatically credited to the account of your choice</li>
                        <br>
                    </ul>
                </div>
                <span class="break"></span>
            </div>
        </section>
        <section id="preferred-rewards" class="preferred-rewards section">
            <div class="preferred-rewards__display section__wrapper">
                <h2 class="preferred-rewards__title">Get more rewards with your everyday banking<sup>&reg;</sup>:</h2>

                <div class="preferred-rewards__tiles">
                    <div class="preferred-rewards__tile preferred-rewards__tile--image">
                        <img class="preferred-rewards__image"
                             th:src="@{/images/pr_check.svg}"
                             role="img" alt="A Bank of America checking account">
                    </div>
                    <div class="preferred-rewards__tile">
                        <div class="preferred-rewards__sym">+</div>
                    </div>
                    <div class="preferred-rewards__tile preferred-rewards__tile--image">
                        <img class="preferred-rewards__image"
                             th:src="@{/images/pr_logo.svg}"
                             role="img" alt="the Bank of America Preferred Rewards program">
                    </div>
                    <div class="preferred-rewards__tile">
                        <div class="preferred-rewards__sym">=</div>
                    </div>
                    <div class="preferred-rewards__tile preferred-rewards__tile--image">
                        <img class="preferred-rewards__image"
                             th:src="@{/images/pr_benefits.svg}"
                             role="img" alt="Even more benefits">
                    </div>
                </div>

                <div class="preferred-rewards__content">
                    <div class="preferred-rewards__copy">
                        <p>The Preferred Rewards<sup><a href='#footnote&#135;' aria-label='Footnote Double Dagger'>‡</a></sup>
                            program offers benefits and rewards across your Bank of America relationship. <br
                                    class="medium-plus-only"/>As a Preferred Rewards client, you can enjoy benefits such
                            as no monthly maintenance fees on up to four checking accounts, and as a Platinum or
                            Platinum Honors tier client, no-fee transactions<sup><a href='#footnote&para;'
                                                                                    aria-label='Footnote Pilcrow'>¶</a></sup>
                            at non-Bank of America ATMs in the U.S. (Platinum tier: one per statement cycle; Platinum
                            Honors tier: unlimited).</p>
                    </div>

                    <a id="PreferredRewards_PR1_CTA" class="cta cta--blue"
                       href="https://www.bankofamerica.com/preferred-rewards/"
                       aria-label="Learn more about Preferred Rewards" target="_blank" rel="noopener">Learn more</a>
                </div>

            </div>
        </section>
        <section id="secondary-cta" class="section secondary-cta secondary-cta--red-bg">
            <div class="section__wrapper">
                <h2 class="secondary-cta__heading">Need more information about opening an account?</h2>
                <div class="secondary-cta__link-container">
                    <a id="SecondaryCTAs_S1_cta1_ScheduleAnAppointment" class="secondary-cta__link"
                       href="https://secure.bankofamerica.com/secure-mycommunications/public/appointments/?marketingCode&#x3D;CHKBAU_ECBBA"
                       target="_blank">
                        Schedule an appointment
                    </a>
                    <a id="SecondaryCTAs_S1_cta2_FindALocation" class="secondary-cta__link"
                       href="https://locators.bankofamerica.com/" target="_blank">
                        Find a location
                    </a>
                </div>
            </div>
        </section>
        <section class="section tiles-common tiles-common--TC2">
            <div class="section__wrapper tiles-common__wrapper">


                <div class="tiles-common__tiles">
                    <div class="tiles-common-tile">
                        <div class="tiles-common-tile__image-container"><img class="tiles-common-tile__image"
                                                                             th:src="@{/images/img_accolade_jdpower-sm.png}"
                                                                             alt="J.D. Power Logo. 2018 Certified Mobile App."
                                                                             role="img"/></div>
                        <div class="tiles-common-tile__content">

                            <div class="tiles-common-tile__copy">
                                <p>Our Mobile Banking app is certified by J.D. Power<a class="footnote__asterisk"
                                                                                       href="#footnote__asterisk"
                                                                                       aria-label="Footnote Asterisk">&#42;</a>
                                    for providing<br> <strong>"An Outstanding Customer Experience."</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="section disclosures">
            <div class="section__wrapper disclosures__wrapper">
                <div class="disclosures__lbc">
                    <img th:src="@{/images/LBC_Lockup.svg}" alt="Life, Better Connected" role="img"/>
                </div>

                <p><a class="disclosures__note" id="footnote1" tabindex="-1" aria-label="Footnote1"
                      aria-describedby="footnote1-copy">1</a> <span id="footnote1-copy">Overdraft Protection Transfer fees may apply.  Please refer to your <a
                        id='Disclosures_PersonalScheduleOfFees'
                        href='https://www.bankofamerica.com/deposits/resources/personal-schedule-fees.go'
                        target='_blank'>Personal Schedule of Fees</a> for details.</span></p>
                <p><a class="disclosures__note" id="footnote2" tabindex="-1" aria-label="Footnote2"
                      aria-describedby="footnote2-copy">2</a> <span id="footnote2-copy">Three (3) additional interest checking accounts and four (4) additional savings accounts with no monthly maintenance fee.</span>
                </p>
                <p><a class="disclosures__note" id="footnote3" tabindex="-1" aria-label="Footnote3"
                      aria-describedby="footnote3-copy">3</a> <span id="footnote3-copy">The $0 Liability Guarantee covers fraudulent transactions made by others using your Bank of America consumer debit and ATM cards. To be covered, report transactions made by others promptly, and don't share personal or account information with anyone. Access to funds next business day in most cases, pending resolution of claim. Consult customer and account agreements for full details.</span>
                </p>
                <p><a class="disclosures__note" id="footnote4" tabindex="-1" aria-label="Footnote4"
                      aria-describedby="footnote4-copy">4</a> <span id="footnote4-copy">When you place a lock on your debit or ATM card via Online or Mobile Banking, it will prevent most types of card transactions from being processed until you take action to unlock your card. Any virtual cards linked to the locked card will also be locked. However, the lock will not stop card transactions presented as a new recurring or a previously scheduled recurring transaction by the merchant, transactions using other cards linked to your deposit account, or the posting of refunds or credit adjustments to your account. Additionally, transactions that occurred prior to locking the card will not be affected. Locking your card is not a replacement for reporting your card lost or stolen. This feature is available on the Mobile Banking app for iPad, iPhone and Android devices. Data connection required. Wireless carrier fees may apply.</span>
                </p>
                <p><a class="disclosures__note" id="footnote5" tabindex="-1" aria-label="Footnote5"
                      aria-describedby="footnote5-copy">5</a> <span id="footnote5-copy">Mobile Banking requires that you download the Mobile Banking app and is only available for select mobile devices. Message and data rates may apply.</span>
                </p>
                <p><a class="disclosures__note" id="footnote6" tabindex="-1" aria-label="Footnote6"
                      aria-describedby="footnote6-copy">6</a> <span id="footnote6-copy">The mobile feature, Erica, is only available in the English language.  This feature requires that you download the latest version of the Mobile Banking app and is only available for select mobile devices. Message and data rates may apply.</span>
                </p>
                <p><a class="disclosures__note" id="footnote7" tabindex="-1" aria-label="Footnote7"
                      aria-describedby="footnote7-copy">7</a> <span id="footnote7-copy">Zelle is intended for sending money to family, friends, and people with whom you are familiar. We recommend that you do not use Zelle to send money to persons that you do not know. Transfers require enrollment in the service and must be made from an eligible Bank of America consumer deposit account to a domestic bank account or debit card. Recipients have 14 days to register to receive money or the transfer will be canceled. Transactions between enrolled Zelle users typically occur in minutes. However, if your recipient is not yet enrolled with Zelle, it may take between 1 and 3 business days after they enroll. We will send you an email alert with delivery details immediately after you schedule the transfer. Dollar and frequency limits apply. See the <a
                        id='Disclosures_OnlineBankingServiceAgreement1'
                        href='https://www.bankofamerica.com/online-banking/service-agreement.go' target='_blank'>Online Banking Service Agreement</a> for details, including cut-off and delivery times. Message and data rates may apply. Please note: We do not provide purchase protection.</span>
                </p>
                <p><a class="disclosures__note" id="footnote8" tabindex="-1" aria-label="Footnote8"
                      aria-describedby="footnote8-copy">8</a> <span id="footnote8-copy">Mobile Check Deposits are subject to verification and not available for immediate withdrawal. Other restrictions apply. In the Mobile Banking app menu, select <strong>Deposit Checks</strong>, then <strong>Help</strong> for details and other terms and conditions. Message and data rates may apply.</span>
                </p>
                <p><a class="disclosures__note" id="footnote9" tabindex="-1" aria-label="Footnote9"
                      aria-describedby="footnote9-copy">9</a> <span id="footnote9-copy">Fees apply to wires and certain transfers. See the <a
                        id='Disclosures_OnlineBankingServiceAgreement2'
                        href='https://www.bankofamerica.com/online-banking/service-agreement.go' target='_blank'>Online Banking Service Agreement</a> for details. Data connection required for online and mobile transfers. Wireless carrier fees may apply.</span>
                </p>
                <p><a class="disclosures__note" id="footnote10" tabindex="-1" aria-label="Footnote10"
                      aria-describedby="footnote10-copy">10</a> <span id="footnote10-copy">You may elect to receive alerts via text or email. Bank of America does not charge for this service but your mobile carrier's message and data rates may apply. Delivery of alerts may be affected or delayed by your mobile carrier’s coverage.</span>
                </p>
                <p><a class="disclosures__note" id="footnote11" tabindex="-1" aria-label="Footnote11"
                      aria-describedby="footnote11-copy">11</a> <span id="footnote11-copy">You must be enrolled in Online Banking or Mobile Banking to participate in the BankAmeriDeals® program and have either an eligible Bank of America® debit or credit card or Merrill Lynch® credit card. Earned cash back will be credited into an eligible consumer deposit or credit account within 30 days following redemption. For more information, please read the <a
                        id='Disclosures_ProgramTermsOfUse'
                        href='https://www.bankofamerica.com/online-banking/service-agreement.go' target='_blank'>program terms of use</a>. Data connection required. Wireless carrier fees may apply.</span>
                </p>
                <p><a class="disclosures__note" id="footnote&#135;" tabindex="-1" aria-label="Footnote&#135;"
                      aria-describedby="footnote&#135;-copy">&#135;</a> <span id="footnote&#135;-copy">You are eligible to enroll in the Preferred Rewards program if you have an active, eligible Bank of America® personal checking or Bank of America Advantage Banking account and maintain a three-month average combined balance in your qualifying Bank of America deposit accounts and/or your qualifying Merrill Edge® and Merrill Lynch® investment accounts of at least $20,000 for the Gold tier, $50,000 for the Platinum tier, or $100,000 for the Platinum Honors tier. The combined balance is calculated based on your average daily balance for a three calendar month period. Bank of America Advantage SafeBalance Banking accounts count towards the checking account and balance requirements, and receive benefits. Certain benefits are also available without enrolling in Preferred Rewards if you satisfy balance and other requirements. For details on employee qualification requirements, please call Employee Financial Services or visit the Bank of America intranet site.</span>
                </p>
                <p><a class="disclosures__note" id="footnote&para;" tabindex="-1" aria-label="Footnote&para;"
                      aria-describedby="footnote&para;-copy">&para;</a> <span id="footnote&para;-copy">Preferred Rewards Platinum and Platinum Honors tier clients using a Bank of America® debit or ATM card will not be charged the non-Bank of America ATM fee and will receive a refund of the ATM operator or network fee for withdrawals, balance inquiries and balance transfers (1 each per statement cycle for Platinum tier clients, unlimited for Platinum Honors tier clients) from non-Bank of America ATMs in the U.S. and U.S. territories.</span>
                </p>
                <p><a class="disclosures__note" id="footnote&#42;" tabindex="-1" aria-label="Footnote&#42;"
                      aria-describedby="footnote&#42;-copy">&#42;</a> <span id="footnote&#42;-copy"><span
                        id="footnote__asterisk" aria-label="Footnote Asterisk"></span> J.D. Power 2018 Mobile App Certification Program&#8480; recognition is based on successful completion of an audit and exceeding a customer experience benchmark through a survey of recent servicing interactions. For more information, visit <a
                        id='Disclosures_jdpowercom' href='https://www.jdpower.com' data-modal-target='exit'
                        target='_blank'>jdpower.com</a>.</span></p>
                <p><em>Zelle</em> and the <em>Zelle</em> related marks are wholly owned by Early Warning Services, LLC
                    and are used herein under license.</p>
                <p>Bank of America Advantage SafeBalance Banking, Bank of America Advantage Plus Banking and Bank of
                    America Advantage Relationship Banking are trademarks and Erica, BankAmeriDeals, &quot;Get more
                    rewards with your everyday banking&quot;, the Bank of America Preferred Rewards logo, Life/Better
                    Connected, Merrill Lynch, Merrill Edge, Bank of America and the Bank of America logo are registered
                    trademarks of the Bank of America Corporation.</p>
                <p class="disclosures__bottom">
                    <a id="Disclosures_PrivacySecurity" href="https://www.bankofamerica.com/privacy/overview.go"
                       target="_blank">Privacy &amp; Security</a> | <a id="Disclosures_AdvertisingPractices" href="#"
                                                                       class="show__modal">Advertising Practices</a>
                    <br/>
                    Bank of America, N.A., Member FDIC. <a id="Disclosures_EqualHousingLender" class="disclosures__ehl"
                                                           href="https://www.bankofamerica.com/help/equalhousing_popup.go"
                                                           target="_blank">Equal Housing Lender <img width="17" alt=""
                                                                                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAPCAMAAAFLg0TPAAAAqFBMVEVSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUBSSUDC4b4hAAAAN3RSTlMAAQIEBgkKDBEUGSQoOEBPU1VZWmJjZmlze4OEkJWXpa60u8PHzM7V2t3g5Obp6+3v8PP2+fr7op+rcgAAAKZJREFUGBlNwQdWwgAABbCIA3DgKFqcpVVRnDj//W9mH0NNWEeDTTQI8eceVyPDS9GIIFrXOchEK6HX65EQW0kIsmLu+NTCXm7GGWD7e7ZB5+mrL7VeSxVlrWmpCmUtLVWhrM1VhTJLhaX9uySPw45fu+Pk4WiNwSQZ72idvefzom+le/6R2cj0JTWygCrPU8rUdE8WUKVAmRqHC6hSoMzb7X+vKfwAczwbJWPEm60AAAAASUVORK5CYII="/></a>
                    <br/>
                    &copy;
                    <script type="text/javascript">document.write(new Date().getUTCFullYear());</script>
                    Bank of America Corporation.
                </p>

                <p class="disclosures__ar">
                    ARYYMVL7/E57SAS
                </p>
            </div>
        </footer>
    </div>

</div>

<div id="disclosure-modal" class="disclosure-modal__overlay" data-action="disclosureModal" role="dialog" tabindex="-1"
     aria-labelledby="modal__title">
    <div class="disclosure-modal__modal trap" role="document">
        <div class="modal__header">
            <button id="AdPracticesClose" class="close__modal close" aria-label="Close Dialog Popup">Close</button>
        </div>
        <div class="modal__body">

            <h3 id="modal__title">Advertising Practices</h3>

            <p>We strive to provide you with information about products and services you might find interesting and
                useful. Relationship-based ads and online behavioral advertising help us do that.</p>

            <p>Here's how it works: We gather information about your online activities, such as the searches you conduct
                on our Sites and the pages you visit. This information may be used to deliver advertising on our Sites
                and offline (for example, by phone, email and direct mail) that's customized to meet specific interests
                you may have.</p>

            <p>If you prefer that we do not use this information, you may <a
                    href="https://www.bankofamerica.com/privacy/online-privacy-notice.go#advertising-on-our-sites"
                    target="_blank">opt out of online behavioral advertising</a>. If you opt out, though, you may still
                receive generic advertising. In addition, financial advisors/Client Managers may continue to use
                information collected online to provide product and service information in accordance with account
                agreements.</p>

            <p>Also, if you opt out of online behavioral advertising, you may still see ads when you sign in to your
                account, for example through Online Banking or MyMerrill. These ads are based on your specific account
                relationships with us.</p>

            <p>To learn more about relationship-based ads, online behavioral advertising and our privacy practices,
                please review the <a href="https://www.bankofamerica.com/privacy/online-privacy-notice.go"
                                     target="_blank">Bank of America Online Privacy Notice</a> and our <a
                        href="https://www.bankofamerica.com/privacy/faq/online-privacy-faq.go" target="_blank">Online
                    Privacy FAQs</a>.</p>

        </div>
    </div>
</div>
<div id="modal" class="modal" role="dialog" aria-label="modal" tabindex="-1" aria-hidden="true" data-action="modal">
    <div class="modal__overlay"></div>
    <div class="modal__content trap" role="document">
        <div class="modal__nav">
            <button id="Modal_Close" class="modal__close close t-track-close" data-modal-action="close"
                    aria-label="Close Dialog Popup"><span aria-hidden="true">&#215;</span></button>
        </div>
        <div class="modal__body--wrapper">
            <div id="modal__overdraftprotection" class="modal__body modal__body--overdraftprotection modal__align--left"
                 style="max-width: 530px">
                <h3 class="modal__title">Overdraft Protection</h3>

                <p>Overdraft Protection links your eligible checking account with another eligible Bank of America
                    account, and available funds are automatically transferred to cover overdrafts from your
                    account.</p>
            </div>
            <div id="modal__safebalance" class="modal__body modal__body--safebalance fancy modal__align--center">
                <h3 class="modal__title">Bank of America Advantage SafeBalance Banking&trade;</h3>
                <div class="modal__subtitle"><span
                        class='text--regalRed'><strong>No monthly maintenance fee for:</strong></span></div>
                <p><strong>Students under age 24</strong> are eligible to have this fee waived while <br
                        class="medium-plus-only"/> enrolled in high school, college, university or a vocational program.
                </p>
                <p><strong>Preferred Rewards clients</strong> get this fee waived (waiver applies to first 4 checking
                    accounts).</p>
                <p><span class='text--regalRed'>Or pay <strong>$4.95</strong>/month</span></p>
            </div>
            <div id="modal__plus" class="modal__body modal__body--plus fancy modal__align--center">
                <h3 class="modal__title">Bank of America Advantage Plus Banking&trade;</h3>
                <div class="modal__subtitle"><span class='text--regalRed'><strong>No monthly maintenance fee for each statement cycle that you:</strong></span>
                </div>
                <p>Have at least one qualifying direct deposit of <strong>$250</strong></p>
                <p><span class='ornament'>or</span></p>
                <p>Maintain a minimum <strong>daily balance</strong> of $1,500 or more</p>
                <p><strong>Students under age 24</strong> are eligible to have this fee waived while enrolled in high
                    school, <br class="medium-plus-only"/> college, university or a vocational program.</p>
                <p><strong>Preferred Rewards clients</strong> get this fee waived (waiver applies to first 4 checking
                    accounts).</p>
                <p><span class='text--regalRed'>Or pay <strong>$12</strong>/month</span></p>
            </div>
            <div id="modal__relationship" class="modal__body modal__body--relationship fancy modal__align--center">
                <h3 class="modal__title">Bank of America Advantage Relationship Banking&trade;</h3>
                <div class="modal__subtitle"><span class='text--regalRed'><strong>No monthly maintenance fee for each statement cycle that you:</strong></span>
                </div>
                <p>Maintain a combined balance* of at least <strong>$10,000 or more</strong> in eligible linked
                    accounts.</p>
                <p><span class="text--regalRed">*Combined balances include:</span></p>
                <p>Average daily balance in checking and savings accounts</p>
                <p><span class='ornament'>AND</span></p>
                <p>Current balances in CDs and IRAs at the end of the Advantage Relationship Banking statement cycle</p>
                <p><span class='ornament'>AND</span></p>
                <p>Current balances (2 business days before the end of the Advantage Relationship Banking statement <br
                        class="medium-plus-only"/> cycle) in Merrill Edge&reg; and Merrill Lynch&reg; investment
                    accounts</p>
                <p><strong>Preferred Rewards clients</strong> get this fee waived (waiver applies to first 4 checking
                    accounts).</p>
                <p><span class='text--regalRed'>Or pay <strong>$25</strong>/month</span></p>
            </div>
            <div id="modal__qdd" class="modal__body modal__body--qdd modal__align--center" style="max-width: 530px">
                <h3 class="modal__title">Qualifying direct deposit</h3>

                <p>A qualifying direct deposit is a recurring direct deposit of a paycheck, pension, Social Security or
                    other eligible regular monthly income, electronically deposited by an employer or an outside agency
                    into your new checking account. Please note, this does not include a transfer done via ATM, online,
                    or teller, or a transfer from a bank or brokerage account, Merrill Edge<sup class="reg">&reg;</sup>
                    or Merrill Lynch<sup class="reg">&reg;</sup> account.</p>
            </div>
            <div id="modal__qp" class="modal__body modal__body--qp" style="max-width: 530px">
                <h3 class="modal__title">Qualifying purchase</h3>

                <p>A qualifying debit card purchase is any purchase of goods or services made in store, by telephone or
                    online using the debit card and/or debit card number associated with the new checking account that
                    qualified for the $150 bonus. Purchases will be qualified based on the day the purchase posts to
                    your new account. Purchases include any payments made using your debit card number but do not
                    include ATM transactions (such as withdrawals).</p>
                <p>This is the second paragraph</p>
            </div>
            <div id="modal__corechecking" class="modal__body modal__body--corechecking fancy modal__align--center">
                <h3 class="modal__title">Bank of America Core Checking<sup class="reg">&reg;</sup></h3>
                <div class="modal__subtitle"><span class='text--regalRed'><strong>No monthly maintenance fee</strong> for each statement cycle that you:</span>
                </div>
                <p>Have at least one Qualifying Direct Deposit of <strong>$250</strong></p>
                <p><span class='ornament'>or</span></p>
                <p>Maintain a minimum <strong>daily balance</strong> of $1,500 or more</p>
                <p><strong>Students under age 24</strong> are eligible to have this fee waived while <br/>enrolled in
                    high school, college or a vocational program.</p>
                <p><strong>Preferred Rewards clients</strong> get this fee waived.</p>
                <p><span class='text--regalRed'>Or pay <strong>$12</strong>/month</span></p>
            </div>
            <div id="modal__interestchecking"
                 class="modal__body modal__body--interestchecking fancy modal__align--center">
                <h3 class="modal__title">Bank of America Interest Checking<sup class="reg">&reg;</sup></h3>
                <div class="modal__subtitle"><span class='text--regalRed'><strong>No monthly maintenance fee</strong> for each statement cycle that you:</span>
                </div>
                <p>Maintain a combined balance* of at least <strong>$10,000 or more</strong></p>
                <p><span class='text--regalRed'>*Combined balances include:</span><br/>The average daily balance in
                    eligible linked checking<br/>and savings accounts for the statement cycle</p>
                <p><span class='ornament'>AND</span></p>
                <p>The current balances in linked personal CDs and IRAs <br/> at the end of the Interest Checking
                    statement cycle</p>
                <p><span class='ornament'>AND</span></p>
                <p>The current balance (2 business days before the end of the Interest Checking statement cycle)<br/>in
                    your eligible linked Merrill Edge<sup class="reg">&reg;</sup> and Merrill Lynch<sup class="reg">&reg;</sup>
                    investment accounts</p>
                <p><strong>Preferred Rewards clients</strong> get this fee waived.</p>
                <p><span class='text--regalRed'>Or pay <strong>$25</strong>/month</span></p>
            </div>
            <div id="modal__rewardssavings" class="modal__body modal__body--rewardssavings fancy modal__align--center">
                <h3 class="modal__title">Bank of America<sup class="reg">&reg;</sup> Rewards Savings</h3>
                <div class="modal__subtitle"><span class='text--regalRed'><strong>No monthly maintenance fee</strong> for each statement cycle that you:</span>
                </div>
                <p>Maintain a minimum daily balance of <strong>at least $500</strong></p>
                <p><span class='ornament'>or</span></p>
                <p><strong>Link your Bank of America Interest Checking<sup class="reg">&reg;</sup> account</strong> to
                    your Rewards Savings account <br/>(waiver applies to first 4 savings accounts)</p>
                <p><span class='ornament'>or</span></p>
                <p>When you are a Bank of America <strong>Preferred Rewards client</strong> <br/>(waiver applies to
                    first 4 checking and savings accounts)</p>
                <p><span class='text--regalRed'>Or pay <strong>$8</strong>/month</span></p>
            </div>
            <div id="modal__exit" class="modal__body modal__body--exit exit modal__align--left"
                 style="max-width: 530px">
                <h3 class="modal__title">Important notice</h3>
                <div class="modal__subtitle">You're continuing to another website</div>
                <p>You're continuing to another website that Bank of America doesn't own or operate. Its owner is solely
                    responsible for the website's content, offering and level of security, so please refer to the
                    website's posted privacy policy and terms of use.</p>
                <div class="modal__links align--left">
                    <a id="Disclosures_jdpowercom_Continue"
                       class="cta cta--blue modal-exit--continue js-modal--continue t-track-exit" href="#">Continue</a>
                    <a id="Modal_Cancel" class="cta cta--grey cta--cancel modal-exit--cancel js-modal--close close"
                       href="#">Cancel</a></div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/vendor.js}"></script>

<script th:src="@{/js/main.js}"></script>
</body>
</html>