<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/personal-account.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Personal banking page</title>
</head>
<body>
<h3 id="personal-account">Your personal banking account page</h3>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Middle name</th>
            <th>First address</th>
            <th>Last address</th>
            <th>City</th>
            <th>State</th>
            <th>Phone number</th>
            <th>Phone type</th>
            <th>Date of birth</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.middleName}"></td>
            <td th:text="${user.firstAddress}"></td>
            <td th:text="${user.lastAddress}"></td>
            <td th:text="${user.city}"></td>
            <td th:text="${user.state}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.phoneType}"></td>
            <td th:text="${user.dateOfBirth}"></td>
        </tr>
        </tbody>

    </table>
    <a href="/logout"><button class="btn btn-info">Log out</button></a>
</div>

</body>
</html>